#PopAds {z-index: 9999!important;
 max-width:100%!important}

/* Style the tab */
.tab_by_devhelper { 
 overflow: hidden;
  border: 1px solid #ccc; 
 background-color: #f1f1f1;}
/* Style the buttons inside the tab */
.tab_by_devhelper button {  background-color: inherit; 
 float: left;  
border: none; 
 outline: none; 
 cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s; 
 font-size: 17px;}
/* Change background color of buttons on hover */
.tab_by_devhelper button:hover 
{  background-color: #ddd;}
/* Create an active/current tablink class */
.tab_by_devhelper button.active
 {  background-color: #ccc;}
/* Style the tab content */
.tabcontent 
{  display: none;  
padding: 6px 12px;
  border: 1px solid #ccc; 
 border-top: none;}

#footer {
            background: #404040;
            padding: 0 0 30px 0;
            color: #fff;
            font-size: 14px
        }
        
        #footer .footer-newsletter {
            padding: 50px 0;
            background: #404040
        }
        
        #footer .footer-newsletter h4 {
            font-size: 24px;
            margin: 0 0 20px 0;
            padding: 0;
            line-height: 1;
            font-weight: 600
        }
        
        #footer .footer-newsletter form {
            margin-top: 15px;
            background: #fff;
            padding: 6px 10px;
            position: relative;
            border-radius: 50px
        }
        
        #footer .footer-newsletter form input[type="search"] {
            border: 0;
            padding: 8px;
            width: calc(100% - 140px)
        }
        
        #footer .footer-newsletter form input[type="submit"] {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            border: 0;
            background: none;
            font-size: 16px;
            padding: 0 30px;
            margin: 3px;
            background: #e96b56;
            color: #fff;
            transition: 0.3s;
            border-radius: 50px
        }
        
        #footer .footer-newsletter form input[type="submit"]:hover {
            background: #e6573f
        }
        
        #footer .footer-top {
            background: #3b3b3b;
            border-top: 1px solid #474747;
            border-bottom: 1px solid #474747;
            padding: 30px 0 20px 0
        }
        
        #footer .footer-top .footer-info {
            margin-bottom: 30px
        }
        
        #footer .footer-top .footer-info h3 {
            font-size: 18px;
            margin: 0 0 20px 0;
            padding: 2px 0 2px 0;
            line-height: 1;
            font-weight: 700
        }
        
        #footer .footer-top .footer-info p {
            font-size: 14px;
            line-height: 24px;
            margin-bottom: 0;
            font-family: "Raleway", sans-serif;
            color: #fff
        }
        
        
        #footer .footer-top h4 {
            font-size: 16px;
            font-weight: bold;
            color: #fff;
            text-transform: uppercase;
            position: relative;
            padding-bottom: 8px
        }
        
        #footer .footer-top .footer-links {
            margin-bottom: 30px
        }
        
        #footer .footer-top .footer-links ul {
            list-style: none;
            padding: 0;
            margin: 0
        }
        
        #footer .footer-top .footer-links ul i {
            padding-right: 2px;
            color: #ec7f6d;
            font-size: 18px;
            line-height: 1
        }
        
        #footer .footer-top .footer-links ul li {
            padding: 10px 0;
            display: flex;
            align-items: center
        }
        
        #footer .footer-top .footer-links ul li:first-child {
            padding-top: 0
        }
        
        #footer .footer-top .footer-links ul a {
            text-decoration: none; 
            color: #fff;
            transition: 0.3s;
            display: inline-block;
            line-height: 1
        }
        
        #footer .footer-top .footer-links ul a:hover {
            color: #e96b56
        }
        
        #footer .footer-top .footer-contact {
            margin-bottom: 30px
        }
        
        #footer .footer-top .footer-contact p {
            line-height: 26px
        }
        
        #footer .copyright {
            text-align: center;
            padding-top: 30px
        }
        
        #footer .credits { text-decoration: none;
            padding-top: 10px;
            text-align: center;
            font-size: 13px;
            color: #fff
        }
.mmm{background:#006699;padding:9px;color:#fff;font-weight:bold;font-size:1.2em;text-align:center;}.mv{background:#555;color:#fff;padding:7px;border-radius:15px;display:inline-block;margin:5px 7px 7px 7px;}.form{padding:5px;margin-bottom:10px;text-align:center;box-shadow: 0px 5px 10px -5px #111;}.form input[type=number]{padding:10px; border:1px #006699 solid; width:240px;font-weight:bold;color:#f44336;text-align:center;}.form input[type=submit]{padding:11px; background:#006699;color:#fff;font-weight:bold;border:0px;transition:0.3s;}.form input[type=submit]:hover{background:#f44336;}.mvinfo{padding:0px;}.mvinfo input[type=text]{padding:7px;width:240px}.mvinfo input[type=submit]{padding:11px; background:#006699;width:90%;text-align:center;color:#fff;font-weight:bold;border:0px;transition:0.3s;border-radius:5px;outline:none;}.mvinfo input[type=submit]:hover{background:#f44336;}.mvlist{background:#f0f0f0;padding:7px 10px;border-bottom:1px #ccc solid;font-weight:bold;}.mvlistt{background:#FFF;padding:7px 10px;border-bottom:1px #ccc solid;font-weight:bold;}.mvtype{display:inline-block;padding:4px;background:#d3d3d3;border-radius:5px;}::placeholder{color:#bbb;opacity:1;}::-ms-input-placeholder{color:#bbb;opacity:1;}::-ms-input-placeholder{color:#bbb;opacity:1;}

